<div class="fr-grid-row fr-grid-row--right fr-grid-row--middle">
  <div class="fr-my-1w fr-ml-1w">
    <p class="fr-tag fr-tag--icon-left fr-icon-timer-fill">
      <%= t('shared.duration_text', duration: duration) %>
    </p>
  </div>

  <div class="fr-my-1w fr-ml-1w">
    <%= link_to t('shared.banner_link'), "/faq#a-quoi-sert-ce-service", class: "fr-link fr-icon-arrow-right-line fr-link--icon-right" %>
  </div>
</div>
