<div class="fr-notice fr-notice--info">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title">Ce service est en beta</span>
        <span class="fr-notice__desc">- faites-nous part de vos retours pour nous aider à l'améliorer via </span>
        <%= link_to "ce formulaire", "https://form.typeform.com/to/GqUkDvPH", class: 'fr-notice__link', target: :blank %>
      </p>
    </div>
  </div>
</div>