<div class="fr-notice fr-notice--info">
  <div class="fr-container">
    <div class="fr-notice__body">
      <p>
        <span class="fr-notice__title">Ce service est en beta</span>
        <span class="fr-noticge__desc">, vous pouvez nous aider à l'améliorer :</span>
        <%= link_to "faites nous part de vos retours", "https://form.typeform.com/to/GqUkDvPH", class: 'fr-notice__link', title: "faites nous part de vos retours, nouvelle fenêtre", target: "_blank", rel: "noopener external" %>
      </p>
    </div>
  </div>
</div>
