<% content_for :banner_title do %>
  <%= simple_format t('home.faq.banner.text'), { }, wrapper_tag: 'span' %>
<% end %>

<% content_for :banner_right do %>
  <%= render partial: "cta" %>
<% end %>

<div class="big-spaced-titles">

  <h2 id="fonctionnement-du-service">Fonctionnement du service</h2>

  <h3 id="a-quoi-sert-ce-service">À quoi sert ce service ?</h3>
  <p>
    Les cantines, transports ou aides spécifiques proposés par les collectivités sont souvent tarifés ou alloués selon la situation familiale et les ressources des particuliers.
  </p>
  <p>
    Ce service vous permet de <b>transmettre de façon sécurisée via FranceConnect vos données d’identité permettant à votre collectivité de récupérer instantanément votre quotient familial CAF ou MSA</b> auprès de l’administration détenant cette information.
  </p>
  <ul>
    <li>
      <b>Facile et certifié&nbsp;:</b> Vous n’avez plus besoin de retrouver votre attestation MSA/CAF, les administrations transmettent directement la donnée source à votre collectivité ;
    </li>
    <li>
      <b>Rapide et instantané&nbsp;:</b> Au dernier clic de cette démarche de 4 minutes, votre collectivité réceptionne instantanément les indicateurs de ressources nécessaires ;
    </li>
    <li>
      <b>Renouvelé automatiquement&nbsp;:</b> Si votre commune a mis en place cette fonctionnalité, vous n’avez plus besoin de refournir les justificatifs chaque mois ou année, car avec vos données d’identité, la collectivité mettra à jour de façon proactive vos indicateurs de ressources.
    </li>
  </ul>

  <h3 id="suis-je-eligilbe-au-service">Suis-je éligible au service ?</h3>
  <p>
    Le formulaire de transmission du quotient familial est un service gratuit, accessible au particulier :
    <ul>
      <li>via FranceConnect uniquement ;</li>
      <li>effectuant une démarche auprès d'une collectivité qui a mis en place le service. La liste de ces collectivités est disponible depuis le menu déroulant de <a href="/collectivities">cette page</a>.</li>
    </ul>
  </p>
  <p>
    <a href="/cgu_usagers#1-2-public-concern-" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">En savoir plus sur le public éligible</a>
  </p>

  <h3 id="quelles-collectivités-proposent-le-service">Quelles collectivités proposent le service ?</h3>
  <p>
    Toutes les collectivités peuvent proposer ce service à leurs usagers.
  </p>
  <p>
    La liste des collectivités ayant mis en place le service est disponible depuis le menu déroulant de <a href="/collectivities">cette page</a>.
  </p>
  <p>
    <a href="/cgu_administrations" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">CGU administrations</a>
  </p>

  <h3 id="comment-fonctionne-ce-service">Comment fonctionne concrêtement ce service ?</h3>
  <p>
    Le formulaire de transmission du quotient familial est un dispositif d’échange permettant :
  </p>
  <ul>
    <li>
      votre identifiation via FranceConnect ;
    </li>
    <li>
      la récupération de vos données d'identité, de votre quotient familial CAF ou MSA et de votre composition familiale auprès des administrations détentrices de ces informations ;
    </li>
    <li>
      la transmission de ces informations à la collectivité que vous avez a choisi ;
    </li>
    <li>
      l'utilisation de votre quotient familial et de votre composition familiale par la collectivité pour qu'elle puisse ensuite calculer votre tarif ou votre aide spécifique ;
    </li>
    <li>
      A posteriori et ce, jusqu'à ce que vous ne soyez plus concerné par la démarche : la réutilisation de vos données d'identité par la collectivité pour mettre à jour vos données de quotient familial et de composition familiale pour vous attribuer un tarif au plus près de votre situation.
    </li>
  </ul>
  <p>
    <a href="/cgu_administrations#1-2-fonctionnement" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">Consulter le fonctionnement précis du service</a>
  </p>

  <h2 id="donnees-personnelles">Données personnelles</h2>

  <h3 id="donnees-personnelles-demandees" class="fr-mt-3w">Quelles informations personnelles me sont demandées ?</h3>
  <p>
    L'utilisation du service s'effectue via FranceConnect. Par conséquent, vous n'aurez pas d'autres informations à fournir que celles nécessaires à votre utilisation de FranceConnect (vos identifiant et mot de passe du fournisseur d'identité que vous choisissez en utilisant FranceConnect, comme par exemple ceux d'impots.gouv.fr ou d'Ameli.fr).
  </p>
  <h3 class="fr-mt-3w">Quelles informations personnelles seront transmises à la collectivité ?</h3>
  <p>
    Lors de votre utilisation du service, vos données personnelles suivantes vont être transmises de façon sécurisée à la collectivité choisie&nbsp;:
  </p>
  <ul>
    <li>
      Vos données d'identité, récupérées via FranceConnect : vos nom, prénoms, date de naissance, sexe, lieu de naissance et pays de naissance ;
    </li>
    <li>
      Votre quotient familial CAF ou MSA. Cette donnée est récupérée auprès de la caisse d'allocation familiale (CAF) ou de la sécurité sociale agricole (MSA) ;
    </li>
      <li>
      Les données d'identité de votre conjoint et de vos enfants (nom, prénoms, nom d'usage, date de naissance et sexe). Ces données sont récupérées auprès de la caisse d'allocation familiale (CAF) ou de la sécurité sociale agricole (MSA).
    </li>
  </ul>
  <p>
    <a href="/cgu_usagers#3-traitement-des-donn-es-caract-re-personnel" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">En savoir plus sur la gestion des données personnelles</a>
  </p>

  <h3 id="stockage-donnees-personnelles" id="combien-de-temps-sont-stockées-mes-informations">Comment et pour quels délais sont stockées mes informations personnelles ?</h3>
  <p>
    <a href="#donnees-personnelles-demandees">Vos données personnelles</a> transitent par le service et sont transmises à la collectivité que vous avez choisie. Elles sont stockées par le service pour un maximum de 90 jours. Ce délai ne prend pas compte le stockage de l'information par la collectivité dans son système d'information.
  </p>
  <p>
    Afin de faciliter le traitement des demandes de support, l'identifiant de votre demande est stocké pour une durée maximale de 90 jours avec d'autres informations permettant de vérifier si votre dossier a bien été transmis au système d'information de la collectivité. Les informations, susceptibles d'être détournées par un tiers malveillant sont retirées de cette base dès lors que vos données sont reçues par la collectivité et au maximum, automatiquement, au bout de 30 jours.
  </p>
  <p>
    <a href="/cgu_usagers#3-traitement-des-donn-es-caract-re-personnel" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">En savoir plus sur la gestion des données personnelles</a>
  </p>

  <h3 id="cookies">Dépôt de cookies</h3>

  <p>Ce service dépose deux types de cookies :</p>
  <ul>
    <li>
      <b>Des cookies de session</b> : ces cookies sont nécessaires au bon fonctionnement du service et sont détruits dès que vous terminez la démarche ou bien au bout de 24h. Ces cookies stockent vos données personnelles de façon temporaire et chiffrée sur l'ordinateur que vous utilisez.
    </li>
    <li>
      <b>Des cookies de mesure d'audience</b> : ils permettent au service de mesurer le nombre de visites et les pages consultées par les internautes, de façon anonyme, grâce un outil libre. Le service collecte uniquement les informations qui ne nécessitent pas de consentement préalable de votre part, tel que défini par la <a target="_blank" href="https://www.cnil.fr/fr/cookies-solutions-pour-les-outils-de-mesure-daudience">CNIL</a>.
  </ul>
  <p>
      <a href="/cgu_usagers#2-3-cookies-et-mesures-d-audience" class="fr-link fr-icon-arrow-right-line fr-link--icon-right">En savoir plus sur les cookies</a>
  </p>
</div>
