/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* makes the footer stick to the bottom of the page */
html, body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

/* Makes the italic part of the title not bold */
.fr-header__service-title i {
  font-weight: normal;
}