<p>
  <%= simple_format t('pages.collectivities.no_france_connect.alternative_text') %>

  <ul class="fr-ml-2w">
    <% t('pages.collectivities.no_france_connect.alternative_options').each do |option| %>
      <%= simple_format option, { }, wrapper_tag: 'li' %>
    <% end %>
  </ul>
</p>

<p>
  <%= simple_format t('pages.collectivities.no_france_connect.transmission_text') %>

  <ul class="fr-ml-2w">
    <% t('pages.collectivities.no_france_connect.transmission_options').each do |option| %>
      <%= simple_format option, { }, wrapper_tag: 'li' %>
    <% end %>
  </ul>
</p>
