<% content_for :banner_title do %>
  <%= simple_format t('pages.collectivities.show.banner.text', label: @collectivity.name), { }, wrapper_tag: 'span' %>
<% end %>

<% content_for :banner_right do %>
  <p class="fr-tag fr-tag--icon-left fr-icon-timer-fill">
    <%= t('shared.duration_text', duration: duration)%>
  </p>
<% end %>
