<%= render partial: "show_banner", locals: { duration: 2 } %>

<div class="fr-col-md-8">
  <%= simple_format t('pages.collectivities.no_france_connect.title'), { }, wrapper_tag: 'h2' %>

  <%= simple_format t('pages.collectivities.no_france_connect.explanation'), { }, wrapper_tag: 'p' %>

  <%= render partial: "alternatives" %>
</div>