<%= render partial: "collectivities/show_banner", locals: { duration: 0 } %>

<div class="centered-text">
  <span class="fr-icon-success-fill big-icon success-green" aria-hidden="true"></span>
  <%= simple_format t('pages.shipments.show.title', label: @collectivity.name, code_cog: @collectivity.code_cog), { }, wrapper_tag: 'h2' %>
  <p><%= @shipment.reference %></p>
</div>
